# Challenge:

# Imports

In [50]:
import torch;
from torch import nn;
import numpy;
import matplotlib.pyplot as plt;
import pandas as pd;
import sklearn;

from ForwardModelNN import FeedForwardNN;
from TrainingFuncNN import training_model;

device: str = "cuda"  if torch.cuda.is_available() else "cpu";

# Installing Dependencies

In [51]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

# Data

## Loading the Data

In [52]:
df = pd.read_csv('dataset/participant_data.csv');
column_names = df.columns;
for col in column_names: print("Feature: " + col);
df

Feature: _time
Feature: agentID
Feature: Altitude
Feature: Latitude
Feature: Longitude
Feature: http_result
Feature: icmp_result
Feature: tcp_result
Feature: udp_result

,_time,agentID,Altitude,Latitude,Longitude,http_result,icmp_result,tcp_result,udp_result
0,2024-09-20 17:19:05+00:00,752813491.0,20.292809,45.496175,-73.561853,29.991,49.161,30.106,58.090
1,2024-09-20 17:19:03+00:00,752813491.0,20.292809,45.496175,-73.561853,29.955,59.476,30.031,69.706
2,2024-09-20 17:19:01+00:00,752813491.0,20.292809,45.496175,-73.561853,33.209,31.992,29.947,42.514
3,2024-09-20 17:18:59+00:00,752813491.0,20.292809,45.496175,-73.561853,30.057,64.112,30.036,74.137
4,2024-09-20 17:18:57+00:00,752813491.0,20.292809,45.496175,-73.561853,39.228,43.609,30.135,53.984
...,...,...,...,...,...,...,...,...,...
2593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
import numpy as np;
import random;
origData = df.to_numpy();
randSample = origData[random.randint(0,len(origData)-1)]; # for inspection

print("Type of Array with original data: " + str(type(origData)));
print("Type of a record in the original data: " + str(type(randSample)));
print("Number of records in the original dataset: " + str(len(origData)));
print("Number of features in a record: " + str(randSample.size));
print("Dimensionality of a record: " + str(randSample.ndim));
print("Dimensionality of the entire data array: " + str(origData.ndim));
print("Shape of the Array: " + str(origData.shape));
print("Shape of a record: " + str(randSample.shape));

Type of Array with original data: <class 'numpy.ndarray'>
Type of a record in the original data: <class 'numpy.ndarray'>
Number of records in the original dataset: 2598
Number of features in a record: 9
Dimensionality of a record: 1
Dimensionality of the entire data array: 2
Shape of the Array: (2598, 9)
Shape of a record: (9,)

We saw NaN values in the table. That is because of empty cells in the table. To prove our intuition, let's inspect whether there are NaN in specific columns.

In [54]:
df.isna().any()

_time          True
agentID        True
Altitude       True
Latitude       True
Longitude      True
http_result    True
icmp_result    True
tcp_result     True
udp_result     True
dtype: bool

## Data Cleansing

We need to replace all the NaN values with 0.

In [55]:
df = df.fillna(0)
df

,_time,agentID,Altitude,Latitude,Longitude,http_result,icmp_result,tcp_result,udp_result
0,2024-09-20 17:19:05+00:00,752813491.0,20.292809,45.496175,-73.561853,29.991,49.161,30.106,58.090
1,2024-09-20 17:19:03+00:00,752813491.0,20.292809,45.496175,-73.561853,29.955,59.476,30.031,69.706
2,2024-09-20 17:19:01+00:00,752813491.0,20.292809,45.496175,-73.561853,33.209,31.992,29.947,42.514
3,2024-09-20 17:18:59+00:00,752813491.0,20.292809,45.496175,-73.561853,30.057,64.112,30.036,74.137
4,2024-09-20 17:18:57+00:00,752813491.0,20.292809,45.496175,-73.561853,39.228,43.609,30.135,53.984
...,...,...,...,...,...,...,...,...,...
2593,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2594,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2595,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2596,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2597,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000

In [56]:
# ensure there is no more NaN values in the table
df.isna().any()

_time          False
agentID        False
Altitude       False
Latitude       False
Longitude      False
http_result    False
icmp_result    False
tcp_result     False
udp_result     False
dtype: bool

Now there's no more NaN values in table.

In [57]:
df

,_time,agentID,Altitude,Latitude,Longitude,http_result,icmp_result,tcp_result,udp_result
0,2024-09-20 17:19:05+00:00,752813491.0,20.292809,45.496175,-73.561853,29.991,49.161,30.106,58.090
1,2024-09-20 17:19:03+00:00,752813491.0,20.292809,45.496175,-73.561853,29.955,59.476,30.031,69.706
2,2024-09-20 17:19:01+00:00,752813491.0,20.292809,45.496175,-73.561853,33.209,31.992,29.947,42.514
3,2024-09-20 17:18:59+00:00,752813491.0,20.292809,45.496175,-73.561853,30.057,64.112,30.036,74.137
4,2024-09-20 17:18:57+00:00,752813491.0,20.292809,45.496175,-73.561853,39.228,43.609,30.135,53.984
...,...,...,...,...,...,...,...,...,...
2593,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2594,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2595,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2596,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000
2597,0,0.0,0.000000,0.000000,0.000000,0.000,0.000,0.000,0.000

In [58]:
import random;
origData = df.to_numpy();
randSample = origData[random.randint(0,len(origData)-1)]; # for inspection

print("Type of Array with original data: " + str(type(origData)));
print("Type of a record in the original data: " + str(type(randSample)));
print("Number of records in the original dataset: " + str(len(origData)));
print("Number of features in a record: " + str(randSample.size));
print("Dimensionality of a record: " + str(randSample.ndim));
print("Dimensionality of the entire data array: " + str(origData.ndim));
print("Shape of the Array: " + str(origData.shape));
print("Shape of a record: " + str(randSample.shape));

Type of Array with original data: <class 'numpy.ndarray'>
Type of a record in the original data: <class 'numpy.ndarray'>
Number of records in the original dataset: 2598
Number of features in a record: 9
Dimensionality of a record: 1
Dimensionality of the entire data array: 2
Shape of the Array: (2598, 9)
Shape of a record: (9,)

## Data Preprocessing

In [59]:
# Check the ranges of data

## Visualizing the Data

## Splitting the Datasets

In [63]:
from sklearn.model_selection import train_test_split

BATCH_SIZE = 15

training_data, test_data = train_test_split(df, test_size=0.2)
training_data, valid_data = train_test_split(training_data, test_size=0.2)

train_loader = torch.utils.data.DataLoader(
    training_data,  
    batch_size=BATCH_SIZE,  
    shuffle=True, 
    pin_memory=True) 

val_loader = torch.utils.data.DataLoader(
    valid_data,  
    batch_size=BATCH_SIZE,  
    shuffle=False, 
    pin_memory=True # SPEED UP PROCESS
)

<bound method NDFrame.head of                           _time      agentID   Altitude   Latitude  Longitude  \
2527                          0          0.0   0.000000   0.000000   0.000000
2405                          0          0.0   0.000000   0.000000   0.000000
1086  2024-09-16 18:07:05+00:00  752813491.0  21.573257  45.491680 -73.560132
2380                          0          0.0   0.000000   0.000000   0.000000
1806  2024-09-16 17:17:48+00:00  752813491.0  18.692080  45.495836 -73.559149
...                         ...          ...        ...        ...        ...
561   2024-09-20 16:55:26+00:00  752813491.0  21.275940  45.494581 -73.560811
1804  2024-09-16 17:17:52+00:00  752813491.0  18.692080  45.495836 -73.559149
1563  2024-09-16 17:25:56+00:00  752813491.0  20.184622  45.493787 -73.558510
1683  2024-09-16 17:21:55+00:00  752813491.0  19.288036  45.493892 -73.558246
1491  2024-09-16 17:28:21+00:00  752813491.0  19.350632  45.494026 -73.559079

      http_result  icmp_result  tcp_result  udp_result
2527        0.000        0.000       0.000       0.000
2405        0.000        0.000       0.000       0.000
1086       25.472       30.933      21.440      30.201
2380        0.000        0.000       0.000       0.000
1806       25.768       54.913      30.277      52.834
...           ...          ...         ...         ...
561         0.000        0.000       0.000       0.000
1804       30.391       57.064      20.580      27.367
1563       45.072       40.809      31.902      35.906
1683       37.089       36.469      55.116      83.078
1491       29.198       49.774      29.015      48.539

[1662 rows x 9 columns]>

# Machine Learning Modelling

## Creating the Model

In [61]:
# Instantiate and move the model to the correct device
model = FeedForwardNN(input_shape=4, hidden_units=128, output_shape=1).to(device)

## Fitting the Model with Training Data

In [62]:
from torch import optim, nn

# optimizer = optim.SGD(model.parameters,lr=0.1)
criterion = nn.MSELoss(size_average=False)
# optimizer = optim.SGD(model.parameters, lr=0.01)

# def train_epoch(x):
#     run_loss = .0
#     for i, (inputs, labels) in enumerate(train_loader):
#         inputs, labels     
#         outputs = model(inputs)

# def training_model(inputs, epochs):
#     run_loss = .0
#     for epoch in range(epochs):
#         print(f'EPOCH {epoch + 1}:')

#         model.train(True)

#         model.eval()
#         # print('LOSS train {} valid {}'.format(avg_loss, avg_vloss))

#         # Update params / Optimize
#         opt.step()


#         epoch_number += 1

/opt/homebrew/Caskroom/miniconda/base/envs/ml/lib/python3.11/site-packages/torch/nn/_reduction.py:42: UserWarning: size_average and reduce args will be deprecated, please use reduction='sum' instead.
  warnings.warn(warning.format(ret))

## Verify if Fitting is performed correctly

# Perform Predictions with the Model

# Evaluate the Performance of the Model

# Conclusion and Further Discussion